BCC: {{ contributors }}
Subject: OpenStack {{ project_name }} PTL {{ release }} cycle Election Nominations Last Days

You are OpenStack {{ project_name }} contributor. This project still does not
have any candidates for PTL.

This is a reminder that we are in the last days for declaring PTL candidacies.
Nominations are open until {{ end_nominations }}.

If you want to stand for election, don't delay, follow the instructions at [1]
to make sure the community knows your intentions.
If you don't want to stand for election, maybe you can remind other members of
the {{ project_name }} team about the nomination deadline.

If you or someone from the {{ project_name }} team already proposed their
candidacy, please make sure that nomination(s) has been submitted to the
openstack/election repository and approved by election officials.

If there will not be any candidate for the PTL for the
{{ project_name }}, when the nomination deadline ends, it will be deemed
leaderless.
In this case the TC will oversee PTL selection as described by [2].

Thank you,

[1] https://governance.openstack.org/election/#how-to-submit-a-candidacy
[2] {{ leaderless_url }}
