To: openstack-discuss@lists.openstack.org
Subject: [all][elections][ptl][tc] Combined PTL/TC {{ release }} cycle Election Season

Election details: https://governance.openstack.org/election/

The nomination period officially begins {{ start_nominations }}.

Please read the stipulations and timelines for candidates and
electorate contained in these governance documents[1][2][3].

Due to circumstances of timing, PTL and TC elections for the coming
cycle will run concurrently; deadlines for their nomination and
voting activities are synchronized but will still use separate
ballots.

Please note, if only one candidate is nominated as PTL for a project
team during the PTL nomination period, that candidate will win by
acclaim, and there will be no poll. There will only be a poll if
there is more than one candidate stepping forward for a project
team's PTL position.

Similarly, there will only be a TC poll if there are more than {{ seats }}
candidates stepping forward the available TC positions.

All members of the community are encouraged to confirm their email
address as described at: https://governance.openstack.org/election/#electorate

All candidates and prospective voters need to make sure they have
reestablished their individual memberships in the Open Infrastructure
Foundation https://openinfra.org/a/renew-membership (if this URL redirects you
to your profile page, your membership is already renewed and nothing more is
required), otherwise their nominations won't be verified and ballots will not
be sent.

There will be further announcements posted to the mailing list as
action is required from the electorate or candidates. This email
is for information purposes only.

If you have any questions which you feel affect others please reply
to this email thread.

If you have any questions that you wish to discuss in private please
email any of the election officials[4] so that we may address your
concerns.

Thank you,

[1] https://governance.openstack.org/tc/reference/charter.html
[2] https://governance.openstack.org/tc/reference/role-of-the-tc.html
[3] https://docs.openstack.org/project-team-guide/ptl.html
[4] https://governance.openstack.org/election/#election-officials
