BCC: {{ contributors }}
Subject: OpenStack {{ project_name }} PTL {{ release }} cycle Election Nominations Last Days

You are a contributor to the OpenStack {{ project_name }} project.
This project does not have any PTL candidates for the upcoming
release cycle.

This is a reminder that we are in the final days for declaring PTL
candidacies. Nominations are open until {{ end_nominations }}.

If you want to stand for election, don't delay, follow the instructions
at [1] to make sure the community knows your intentions. If you don't
want to stand for election, please remind other members of the
{{ project_name }} team about the nomination deadline.

If you or someone from the {{ project_name }} team already proposed
their candidacy, please make sure that their nomination has been
submitted to the openstack/election repository and approved by
election officials.

If there are no PTL candidates for the {{ project_name }} project
when the nomination deadline ends, the project will be deemed
leaderless. In this case the TC will oversee PTL selection as
described by [2].

Thank you,

[1] https://governance.openstack.org/election/#how-to-submit-a-candidacy
[2] {{ leaderless_url }}
