To: openstack-discuss@lists.openstack.org
Subject: [all][elections][ptl][tc] Combined PTL/TC {{ release }} cycle Election Voting Last Days

We are coming down to the last hours for voting in the TC and
{{ list_of_elections }}
elections. Voting ends {{ election_end }}.

Search your Gerrit preferred email address[0] for the messages with
subjects like...

    Poll: {{ poll_name }}

That is your ballot and links you to the voting application. Please
vote. If you have voted, please encourage your colleagues to vote.

Candidate statements are linked to the names of all confirmed
candidates: https://governance.openstack.org/election/

What to do if you don't see the email and have a commit in at least
one of the official project teams' deliverable repositories[1]:

* check the trash of your gerrit Preferred Email address[0], in
  case it went into trash or spam

* find the ID of at least one commit merged to an official
  deliverable repo[1] over the current and previous cycles, confirm
  you are an OpenStack Foundation Individual Member[2], and then
  email the election officials[3] or get in touch in the
  #openstack-elections channel on the Freenode IRC network.

If we can confirm that you are entitled to vote, we will add you
to the voters list and you will be emailed a ballot.

Please vote!

Thank you,

[0] Sign into review.openstack.org and go to Settings > Contact
    Information. Look at the email listed as your Preferred Email.
    That is where the ballot has been sent.
[1] {{ reference_url }}
[2] https://www.openstack.org/profile/
[3] https://governance.openstack.org/election/#election-officials
