To: openstack-discuss@lists.openstack.org
Subject: [all][elections][ptl][tc] Conbined PTL/TC {{ release }} cycle Election Voting Kickoff

Polls for PTL and TC elections are now open and will remain open for
you to cast your vote until {{ election_end }}.

We are selecting {{ seats }} TC members, and are having PTL
elections for {{ list_of_elections }}. Please rank all candidates in
your order of preference.

You are eligible to vote in the TC election if you are a Foundation
individual member[0] that also has committed to any official project
team's deliverable repositories[1] over the {{ time_frame }}
timeframe ({{ start_release }} to {{ end_release }}) or if you are
in the list of extra-atcs[2] for any official project team.

You are eligible to vote in a PTL election if you are a Foundation
individual member[0] and had a commit in one of that team's
deliverable repositories[1] over the {{ time_frame }} timeframe ({{
start_release }} to {{ end_release }}) or if you are in that team's
list of extra-atcs[2].

If you are eligible to vote in an election, you should find your
email with a link to the Condorcet page to cast your vote in the
inbox of your Gerrit preferred email[3].

What to do if you don't see the email and have a commit in at
least one of the projects having an election:
* check the trash or spam folders of your gerrit Preferred
    Email address, in case it went into trash or spam
* wait a bit and check again, in case your email server is a bit slow
* find the sha of at least one commit from the project's deliverable
    repos[0] and email the election officials[4].

If we can confirm that you are entitled to vote, we will add you
to the voters list for the appropriate election.

Our democratic process is important to the health of OpenStack,
please exercise your right to vote!

Candidate statements/platforms can be found linked to Candidate
names on this page:
https://governance.openstack.org/election/

Happy voting,

[0] https://www.openstack.org/community/members/

[1] The list of the repositories eligible for electoral status:
    {{ reference_url }}

[2] Look for the extra-atcs element in [1]

[3] Sign into review.openstack.org: Go to Settings > Contact
    Information. Look at the email listed as your preferred email.
    That is where the ballot has been sent.

[4] https://governance.openstack.org/election/#election-officials
