To: openstack-discuss@lists.openstack.org
Subject: [all][elections][ptl][tc] Combined PTL/TC Nominations Last Days

A quick reminder that we are in the last hours for declaring PTL and
TC candidacies. Nominations are open until {{ end_nominations }}.

If you want to stand for election, don't delay, follow the
instructions at [1] to make sure the community knows your
intentions.

Make sure your nomination has been submitted to the
openstack/election repository and approved by election officials.

Election statistics[2]:
{{ election_summary_stats }}

This means that with approximately 2 days left, {{ leaderless_count }} projects
will be deemed leaderless. In this case the TC will oversee PTL
selection as described by [3].

Thank you,

[1] https://governance.openstack.org/election/#how-to-submit-a-candidacy
[2] Any open reviews at
    https://review.openstack.org/#/q/is:open+project:openstack/election
    have not been factored into these stats.
[3] {{ leaderless_url }}
