To: openstack-discuss@lists.openstack.org
Subject: [all][elections][ptl][tc] Combined PTL/TC {{ release }} cycle Election Nominations Kickoff

Nominations for OpenStack PTLs (Project Team Leads) and TC
(Technical Committee) positions ({{ seats }} positions) are now open
and will remain open until {{ end_nominations }}.

All nominations must be submitted as a text file to the
openstack/election repository as explained at
https://governance.openstack.org/election/#how-to-submit-a-candidacy

Please make sure to follow the candidacy file naming convention:
candidates/{{ release }}/<Project_Name or "TC">/<email_address>
(for example, "candidates/{{ release }}/TC/stacker@example.org").

The name of the file should match an email address for your current
Foundation Individual Membership. Take this opportunity to
ensure that your Open Infrastructure Foundation member profile contains
current information: https://openinfra.org/a/profile

Any Open Infrastructure Foundation Individual Member can propose their
candidacy for an available, directly-elected seat on the Technical
Committee.

In order to be an eligible candidate for PTL you must be an
Open Infrastructure Foundation Individual Member. PTL candidates must also
have contributed to the corresponding team during the {{ start_release }} to {{ end_release }}
timeframe, {{ time_frame }}. Your
Gerrit account must also have a verified email address matching the
one used in your candidacy filename.

Both PTL and TC elections will be held from {{ election_start }}
through to {{ election_end }}. The electorate for the TC election
are the Open Infrastructure Foundation Individual Members who have a code
contribution to one of the official teams over the {{ start_release }} to {{ end_release }}
timeframe, {{ time_frame }}, as well as
any Extra ACs who are acknowledged by the TC. The electorate for a
PTL election are the Open Infrastructure Foundation Individual Members who
have a code contribution over the {{ start_release }} to {{ end_release }} timeframe,
{{ time_frame }}, in a deliverable
repository maintained by the team which the PTL would lead, as
well as the Extra ACs who are acknowledged by the TC for that
specific team. The list of project teams can be found at
https://governance.openstack.org/tc/reference/projects/ and their
individual team pages include lists of corresponding Extra ACs.

Please find below the timeline:

    PTL + TC nomination starts   @ {{ start_nominations }}
    PTL + TC nomination ends     @ {{ end_nominations }}
    TC campaigning starts  @ {{ campaign_start }}
    TC campaigning ends    @ {{ campaign_end }}
    PTL + TC elections start     @ {{ election_start }}
    PTL + TC elections end       @ {{ election_end }}

Shortly after election officials approve candidates, they will be
listed on the https://governance.openstack.org/election/ page.

The electorate is requested to confirm their email addresses in
Gerrit prior to {{ email_deadline }}, so that the emailed ballots
are sent to the correct email address. This email address should
match one which was provided in your foundation member profile as
well. Gerrit account information and Foundation individual member
profiles can be updated at https://review.opendev.org/#/settings/contact
and https://openinfra.org/a/profile accordingly.

If you have any questions please be sure to either ask them on the
mailing list or to the elections officials:
https://governance.openstack.org/election/#election-officials
