To: openstack-discuss@lists.openstack.org
Subject: [all][elections][ptl][tc] Combined PTL/TC {{ release }} cycle Election Nominations End

The PTL and TC Nomination period is now over. The official candidate lists
for PTLs [0] and TC seats [1] are available on the election website.

-- PTL Election Details --
There are {{ leaderless_count }} projects without candidates, so according to this
resolution[2], the TC will have to decide how the following
projects will proceed: {{ list_of_leaderless_projects }}

There are {{ election_count }} projects that will have elections: {{ list_of_elections }}.

-- TC Election Details --
The official candidate list is available on the election website[1].

Now begins the campaigning period where candidates and electorate
may debate their statements.

Polling will start {{ election_start }}.

Thank you,

[0] https://governance.openstack.org/election/#ptl-candidates
[1] https://governance.openstack.org/election/#tc-candidates
[2] {{ leaderless_url }}
