Polls for PTL elections are now open and will remain open for you to
cast your vote until {{ election_end }}.

We are having elections for {{ list_of_elections }}.

If you are a Foundation individual member and had a commit in
one of the program's projects[0] over the {{ time_frame }} timeframe
({{ start_release }} to {{ end_release }}) then you are eligible to vote. You should find your
email with a link to the Condorcet page to cast your vote in the
inbox of your gerrit preferred email[1].

What to do if you don't see the email and have a commit in at
least one of the programs having an election:
* check the trash or spam folders of your gerrit Preferred
    Email address, in case it went into trash or spam
* wait a bit and check again, in case your email server is a bit slow
* find the sha of at least one commit from the program
    project repos[0] and email the election officials.

If we can confirm that you are entitled to vote, we will add you
to the voters list for the appropriate election.

Our democratic process is important to the health of OpenStack,
please exercise your right to vote!

Candidate statements/platforms can be found linked to Candidate
names on this page:
https://governance.openstack.org/election/#{{ release }}-ptl-candidates

Happy voting,

[0] The list of the program projects eligible for electoral status:
    {{ reference_url }}

[1] Sign into review.openstack.org:
    Go to Settings > Contact Information.
    Look at the email listed as your Preferred Email.
    That is where the ballot has been sent.
