To: openstack-discuss@lists.openstack.org
Subject: [all][elections][ptl] PTL {{ release }} cycle Election Nominations Last Days

A quick reminder that we are in the last hours for PTL candidate
nominations.

If you want to stand for PTL, don't delay, follow the instructions
at[1] to make sure the community knows your intentions.

Make sure your nomination has been submitted to the openstack/election
repository and approved by election officials.

All members of the community are encouraged to confirm their email
address and opt in to the CIVS election as described at:
    https://governance.openstack.org/election/#electorate

Election statistics[2]:
{{ election_summary_stats }}

This means that with approximately 2 days left, {{ leaderless_count }} projects will
be deemed leaderless.  In this case the TC will oversee PTL selection as
described by [3].

Thank you,

[1] https://governance.openstack.org/election/#how-to-submit-a-candidacy
[2] Any open reviews at
    https://review.openstack.org/#/q/is:open+project:openstack/election
    have not been factored into these stats.
[3] {{ leaderless_url }}
