To: openstack-discuss@lists.openstack.org
Subject: [all][elections] PTL Election Season

Election details: https://governance.openstack.org/election/

Please read the stipulations and timelines for candidates and
electorate contained in this governance documentation.

Please note, if only one candidate is nominated as PTL for a project
team during the PTL nomination period, that candidate will win by
acclaim, and there will be no poll. There will only be a poll if
there is more than one candidate stepping forward for a project
team's PTL position.

There will be further announcements posted to the mailing list as
action is required from the electorate or candidates. This email
is for information purposes only.

If you have any questions which you feel affect others please reply
to this email thread.

If you have any questions that you which to discuss in private please
email any of the election officials[1] so that we may address your
concerns.

Thank you,

[1] https://governance.openstack.org/election/#election-officials
