Nominations for OpenStack PTLs (Project Team Leads) are now open
and will remain open until {{ end_nominations }}.

All nominations must be submitted as a text file to the
openstack/election repository as explained at
https://governance.openstack.org/election/#how-to-submit-a-candidacy

Please make sure to follow the new candidacy file naming
convention: candidates/<cycle>/<project_name>/<email_address>.

In order to be an eligible candidate (and be allowed to vote) in
a given PTL election, you need to have contributed to the corresponding
team[0] during the {{ time_frame }} timeframe ({{ start_release }} to {{ end_release }}). You must also be an OpenStack
Foundation Individual Member in good standing. To check if your membership
is up to date, go to https://www.openstack.org/community/members and
search for your name.

Additional information about the nomination process can be found here:
https://governance.openstack.org/election/

Shortly after election officials approve candidates, they will be listed here:
https://governance.openstack.org/election/#{{ release }}-ptl-candidates

The electorate is requested to confirm their email address in gerrit[1],
prior to {{ email_deadline }} so that the emailed ballots are mailed to the correct email
address. This email address should match that which was provided in your
foundation member profile[2] as well.

Happy running,

[0] https://governance.openstack.org/tc/reference/projects/
[1] https://review.openstack.org/#/settings/contact
[2] https://www.openstack.org/profile/


