To: openstack-discuss@lists.openstack.org
Subject: [all][elections][ptl] PTL Voting Last Days

Hello {{ list_of_elections }} contributors,

Just a quick reminder that elections are closing soon, if you haven't
already you should use your right to vote and pick your favourite
candidate!

You have until {{ election_end }}.

Thanks for your time!
