The PTL Nomination period is now over. The official candidate list
is available on the election website[0].

There are {{ leaderless_count }} projects without candidates, so according to this
resolution[1], the TC will have to decide how the following
projects will proceed: {{ list_of_leaderless_projects }}

There are {{ election_count }} projects that will have elections: {{ list_of_elections }}. The details
for those will be posted shortly after we setup the CIVS system.

Thank you,

[0] https://governance.openstack.org/election/#{{ release }}-ptl-candidates
[1] {{ leaderless_url }}


