To: openstack-discuss@lists.openstack.org
Subject: [all][elections] TC End Nominations

TC Nomination period is now over. The official candidate list is
available on the election website[0].

Now begins the campaigning period where candidates and
electorate may debate their statements.

Polling will start {{ election_start }}.

Thank you,

[0] https://governance.openstack.org/election/#{{ release }}-tc-candidates
