To: openstack-discuss@lists.openstack.org
Subject: [all][elections][tc] TC Election Season

Election details: https://governance.openstack.org/election/

The nomination period officially begins {{ start_nominations }}.

Please read the stipulations and timelines for candidates and
electorate contained in these governance documents[1][2].

Please note, there will only be a poll if there are more than {{ seats }}
candidates stepping forward the available TC positions

All members of the community are encouraged to confirm their email
address as described at: https://governance.openstack.org/election/#electorate

There will be further announcements posted to the mailing list as
action is required from the electorate or candidates. This email
is for information purposes only.

If you have any questions which you feel affect others please reply
to this email thread.

If you have any questions that you which to discuss in private please
email any of the election officials[3] so that we may address your
concerns.

Thank you,

[1] https://governance.openstack.org/tc/reference/charter.html
[2] https://governance.openstack.org/tc/reference/role-of-the-tc.html
[3] https://governance.openstack.org/election/#election-officials
