To: openstack-discuss@lists.openstack.org
Subject: [all][elections] TC Nominations Kickoff

Nominations for the Technical Committee positions ({{ seats }} positions)
are now open and will remain open until {{ end_nominations }}.

All nominations must be submitted as a text file to the
openstack/election repository as explained on the election website[1].

Please note that the name of the file should match an email
address in the foundation member profile of the candidate.

Also for TC candidates election officials refer to the community
member profiles at [2] please take this opportunity to ensure that
your profile contains current information.

Candidates for the Technical Committee Positions: Any Foundation
individual member can propose their candidacy for an available,
directly-elected TC seat.

The election will be held from {{ election_start }} through to {{ election_end }}. The electorate
are the Foundation individual members that are also committers
for one of the official teams[3] over the {{ time_frame }} timeframe ({{ start_release }} to
{{ end_release }}, as well as the extra-ATCs who are acknowledged by the TC[4].

Please see the website[5] for additional details about this election.
Please find below the timeline:

TC nomination starts   @ {{ start_nominations }}
TC nomination ends     @ {{ end_nominations }}
TC campaigning starts  @ {{ campaign_start }}
TC campaigning ends    @ {{ campaign_end }}
TC elections starts    @ {{ election_start }}
TC elections ends      @ {{ election_end }}

If you have any questions please be sure to either ask them on the
mailing list or to the elections officials[6].

Thank you,

[1] https://governance.openstack.org/election/#how-to-submit-a-candidacy
[2] https://www.openstack.org/community/members/
[3] https://governance.openstack.org/tc/reference/projects/
[4] https://releases.openstack.org/{{ last_release }}/schedule.html#p-extra-atcs
[5] https://governance.openstack.org/election/
[6] https://governance.openstack.org/election/#election-officials


