To: openstack-discuss@lists.openstack.org
Subject: [all][elections][tc] TC Election Nominations Last Days

A quick reminder that we are in the last hours for TC
candidate announcements. Nominations are open until {{ end_nominations }}.

If you want to stand for TC, don't delay, follow the
instructions at [1] to make sure the community knows your
intentions.

Make sure your nomination has been submitted to the
openstack/election repository and approved by election officials.

Thank you,

[1] https://governance.openstack.org/election/#how-to-submit-a-candidacy
