To: openstack-discuss@lists.openstack.org
Subject: [all][elections][tc] Opt in to CIVS voting system

The election uses the Condorcet Internet Voting Service (CIVS).
Due to CIVS policy, to vote in private CIVS polls, you must opt in to email
communication.

To opt in, please enter your Gerrit email address in the following page before
the start of the election {{ election_start }}, and confirm with the code that
will sent to you via email.

https://civs1.civs.us/cgi-bin/opt_in.pl

If you have any question, please contact the election officials.
https://governance.openstack.org/election/#election-officials
