To: openstack-discuss@lists.openstack.org
Subject: [all][elections][tc] TC Voting Last Days

We are coming down to the last hours for voting in the TC
election. Voting ends {{ election_end }}.

Search your gerrit preferred email address[0] for the following subject:
            Poll: {{ poll_name }}

That is your ballot and links you to the voting application. Please
vote. If you have voted, please encourage your colleagues to vote.

Candidate statements are linked to the names of all confirmed
candidates:
https://governance.openstack.org/election/#{{ release }}-tc-candidates

What to do if you don't see the email and have a commit in at least
one of the official project teams' deliverable repositories[1]:
* check the trash of your gerrit Preferred Email address[0], in
    case it went into trash or spam
* wait a bit and check again, in case your email server is a bit slow
* find the sha of at least one commit from an official deliverable
    repo[1] and email the election officials[2].

If we can confirm that you are entitled to vote, we will add you
to the voters list and you will be emailed a ballot.

Please vote!

Thank you,

[0] Sign into review.openstack.org: Go to Settings > Contact
    Information. Look at the email listed as your Preferred Email.
    That is where the ballot has been sent.
[1] {{ reference_url }}
[2] https://governance.openstack.org/election/#election-officials
