To: openstack-discuss@lists.openstack.org
Subject: [all][elections][tc] TC Election Voting Kickoff

The poll for the TC Election is now open and will remain open until
{{ election_end }}.

We are selecting {{ seats }} TC members, please rank all candidates
in your order of preference.

You are eligible to vote if you are a Foundation individual
member[1] that also has committed to one of the official project
teams' deliverable repositories[2] over the {{ time_frame }}
timeframe ({{ start_release }} to {{ end_release }}) or if you are
one of the extra-atcs.[3]

What to do if you don't see the email and have a commit in at least
one of the official deliverables[2]:
* due to a new CIVS policy, to vote in a private CIVS pool,
    you must opt in to email communication
    opt in with your gerrit email address at:
    https://civs1.civs.us/cgi-bin/opt_in.pl
* check the trash or spam folder of your gerrit Preferred Email
    address[4], in case it went into trash or spam
* wait a bit and check again, in case your email server is a bit slow
* find the sha of at least one commit from an official deliverable
    repo[2] and email the election officials[1].

If we can confirm that you are entitled to vote, we will add you to
the voters list and you will be emailed a ballot.

Our democratic process is important to the health of OpenStack,
please exercise your right to vote.

Candidate statements/platforms can be found linked to Candidate
names[6].

Happy voting!

Thank you,

[1] https://www.openstack.org/community/members/
[2] {{ reference_url }}
[3] Look for the extra-atcs element in [2]
[4] Sign into review.openstack.org: Go to Settings > Contact Information. Look
    at the email listed as your preferred email. That is where the ballot has
    been sent.
[5] https://governance.openstack.org/election/#election-officials
[6] https://governance.openstack.org/election/#{{ release }}-tc-candidates
