.. |Timeframe| replace:: {{ timeframe['name'] }} timeframe ({{ timeframe['start_str'] }} to {{ timeframe['end_str'] }})
.. |PreferredEmailDeadLine| replace:: {{ timeframe['email_deadline_str'] }}
.. |Projects.yaml| replace:: https://git.openstack.org/cgit/openstack/governance/tree/reference/projects.yaml?id={{ tag }}
.. |TCSeats| replace:: {{ tc_seats }}
