.. |Timeframe| replace:: {{ timeframe['name'] }} timeframe ({{ timeframe['start_str'] }} to {{ timeframe['end_str'] }})
.. |PreferredEmailDeadLine| replace:: {{ timeframe['email_deadline_str'] }}
.. |Projects.yaml| replace:: https://opendev.org/openstack/governance/src/tag/{{ tag }}/reference/projects.yaml
.. |TCSeats| replace:: {{ tc_seats }}
