.. raw:: html

    <span id="eventname"></span>
    <span id="eventtimer"></span>
    <script>
        var events_timeline = [
            {% for event in events %}
                { start: "{{ event['start'] }}", end: "{{ event['end'] }}", name: "{{ event['name'] }}" },
            {% endfor %}
        ];
    </script>
    <br /><br />


+------------------------------------+------------------------------------+------------------------------------+-----------+
| Events                             | Start Date                         | End Date                           | Status    |
+====================================+====================================+====================================+===========+
{% for event in events %}
| {{ "%29s" % event['name_str'] }}      | {{ "%29s" % event['start_str'] }}      | {{ "%29s" % event['end_str'] }}      | {{ "%7s" % event['status'] }}   |
+------------------------------------+------------------------------------+------------------------------------+-----------+
{% endfor %}
