.. raw:: html

    <span id="eventname"></span>
    <span id="eventtimer"></span>
    <script>
        var events_timeline = [
            {% for event in events %}
                { date: "{{ event['date'] }}", name: "{{ event['name'] }}" },
            {% endfor %}
        ];
    </script>
    <br /><br />


+------------------------------------+------------------------------------+-----------+
| Events                             | Date                               | Status    |
+====================================+====================================+===========+
{% for event in events %}
| {{ "%29s" % event['name_str'] }}      | {{ "%29s" % event['date_str'] }}      | {{ "%7s" % event['status'] }}   |
+------------------------------------+------------------------------------+-----------+
{% endfor %}
