{{ election.capitalize() }} PTL Candidates
======================
{% for project in projects %}{% if project != 'TC' %}
* {{ project.replace('_', ' ') }}

{% for candidate in candidates[project] %}
  * `{{ candidate['fullname'] }} ({{ candidate['ircname'] }}) <{{ candidate['url'] }}>`_
{% endfor %}

{% endif %}{% endfor %}
