{{ election.capitalize() }} PTL Candidates
======================
{% for project in projects %}{% if project != 'TC' %}
* {{ project.replace('_', ' ') }}

{% for candidate in candidates[project] %}
  * `{{ candidate['fullname'] }} {% if candidate['ircname'] is not none  %}({{ candidate['ircname'] }}){% endif %} <{{ candidate['url'] }}>`__
{% endfor %}

{% endif %}{% endfor %}
