{{ election.capitalize() }} PTL Candidates
======================
{% for project in projects %}{% if project != 'TC' %}
* {{ project.replace('_', ' ') }}

{% for candidate in candidates[project] %}
  * `{{ candidate['fullname'] }} ({{ candidate['ircname'] }}) <http://git.openstack.org/cgit/openstack/election/plain/{{ candidate['path'] }}>`_
{% endfor %}

{% endif %}{% endfor %}
