{% for i in range(election|length + 4) %}={% endfor%}

{{ election.capitalize() }} PTL
{% for i in range(election|length + 4) %}={% endfor%}

`Current list of all projects and PTLs
<https://governance.openstack.org/tc/reference/projects/>`_

Elected PTLs
============

{% for project in projects|sort %}
* {{ project.replace('_', ' ') }}

{% for candidate in candidates[project] %}{% if candidate['elected'] and 'url' in candidate %}
  * `{{ candidate['fullname'] }} {% if candidate['ircname'] is not none  %}({{ candidate['ircname'] }}){% endif %} <{{ candidate['url'] }}>`__
{% elif candidate['elected'] == 'LEADERLESS' %}
  * {{ candidate['statement'] }}
{% elif candidate['elected'] %}
  * {{ candidate['fullname'] }} (\{{ candidate['ircname'] }}) {% if candidate['elected'] == 'INCUMBENT-PTL' %}[#IncumbentPTL]_{% else %}[#TCAppointed]_{% endif %}

{% endif %}
{% endfor %}

{% endfor %}

{% if 'TC-APPOINTED' in tags %}
.. [#TCAppointed] By TC Appointment
{% endif %}
{% if 'INCUMBENT-PTL' in tags %}
.. [#IncumbentPTL] Incumbent PTL
{% endif %}

Election Results
================
{% if elections_results|length %}
{% for project in projects|sort %}{% if project in elections_results %}

* `{{ project }} <{{ elections_results[project] }}>`_
{% endif %}
{% endfor %}
{% else %}
No elections were necessary.
{% endif %}


PTL Candidates
==============

{% for project in projects|sort %}
* {{ project.replace('_', ' ') }}

{% for candidate in candidates[project] %}{% if 'url' in candidate %}
  * `{{ candidate['fullname'] }} ({{ candidate['ircname'] }}) <{{ candidate['url'] }}>`__
{% endif %}{% endfor %}

{% endfor %}
