{{ election.capitalize() }} TC Candidates
======================

{% for candidate in candidates['TC'] %}
  * `{{ candidate['fullname'] }} ({{ candidate['ircname'] }}) <http://git.openstack.org/cgit/openstack/election/plain/{{ candidate['path'] }}>`_
{% endfor %}
