{{ election.capitalize() }} TC Candidates
======================

{% for candidate in candidates['TC'] %}
  * `{{ candidate['fullname'] }} ({{ candidate['ircname'] }}) <{{ candidate['url'] }}>`__
{% endfor %}
