To: openstack-discuss@lists.openstack.org, openstack-announce@lists.openstack.org
Subject: [all][elections] Technical Committee Election Results

Please join me in congratulating the {{ tc_seats }} newly elected members of the Technical Committe (TC).

{% for candidate in candidates['TC'] %}{% if candidate['elected'] %}
{{ candidate['fullname'] }} ({{ candidate['ircname'] }})
{% endif %}{% endfor %}

Full results: {{ elections_results['TC'] }}

Election process details and results are also available here: https://governance.openstack.org/election/

Thank you to all of the candidates, having a good group of candidates helps engage the community in our democratic process.

Thank you to all who voted and who encouraged others to vote. We need to ensure your voice is heard.

Thank you for another great round.
