{% for i in range(election|length + 20) %}={% endfor%}

{{ election.capitalize() }} elected TC members
{% for i in range(election|length + 20) %}={% endfor%}


{% for candidate in candidates['TC'] %}{% if candidate['elected'] %}
* `{{ candidate['fullname'] }} ({{ candidate['ircname'] }}) <{{ candidate['url'] }}>`__
{% endif %}{% endfor %}

Results
-------
* `TC <{{ elections_results['TC'] }}>`_
{% if elections_results['TC_resolution'] %}

.. Note::  The elected candidates did not form a valid Technical Committee.
   See `TC Resolution <{{ elections_results['TC_resolution'] }}>`__ for more information.

{% endif %}

{{ election.capitalize() }} TC Candidates
======================
{% for candidate in candidates['TC'] %}
* `{{ candidate['fullname'] }} ({{ candidate['ircname'] }}) <{{ candidate['url'] }}>`__
{% endfor %}
